body {
    font-family: arial,sans-serif;
}
.container {
    margin-top: 110px;
}
#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 92;
}
input[type="text"]{
    display: block;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-radius: 100px;
    border-style: thin;
    box-sizing: border-box;
    border: 1px solid #ccc;
    background-image: url(https://www.w3schools.com/css/searchicon.png);
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 20px 20px 12px 40px;
}
input[type="submit"]{
    margin-top: 25px;
    padding: 10px;
    border: none;
    margin-right: 10px;
    background-color: #f8f9fa;
    color: #3c4043;
    
}
.submit {
    text-align: center;
}
.link{
    font-size: 14px;
    padding: 5px;
    text-decoration: none;
    margin-top: 20px;
}
#lucky {
    text-decoration: none;
    background-color: #f8f9fa;
    color: #3c4043;
    padding: 10px;
    font-size: 14px;
}
.otherlinks {
    text-align: right;
    margin: 20px;
}
.otherlinks > a{
    text-decoration: none;
    margin-right: 10px;
    color: #3c4043;
}
/* Style the input container */
.input-container {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* Style the form icons */
  .icon {
    padding: 10px;
    color: white;
    min-width: 50px;
    text-align: center;
  }